/*********************************************
Raving Redactionist CSS from Pippin's github
modified by mc on activity 6
with https://cssgenerator.org and w3school
**********************************************/
/* wraps paragraph on page resize */
html {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  word-wrap: break-word;
  background-color: rgba(0,0,0,.5); // Sets to 50% transparent
  /* columns: 2; */
}

#canvasContainer {
  /* Sets to 50% transparent */
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

/* Sets the buttons at the bottom of the canvas */
#keyboardContainer {
  position: fixed;
  top: 90%;
}
/* styling of window open on hydra */
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border: 0;
  border: 1px solid black;
  width: 100%;
  z-index: 0;
}


/* rendering and osc to be continued */
/* .output {
  background: #eee;
} */
